.change-theme-body{
    // background-color: $background-color !important;
}
.change-theme-sidebar{
    background-color: $sidebar-background !important;
    .change-theme-top-sidebar{
        p{
            color: $text-color !important;
        }
        h1{
            color: $text-color !important;        
        }
    }
    ul{
        li{
            color: $text-color;
        }
        li:hover{
            background-color: #360017 !important;
        }
    }
    .bottom_sidebar{
        p{
            color: $text-color !important;
        }
        button{
            color: #b3004c !important;
        }
    }
   
}

.header-main-sidebar{
    background-color: $sidebar-background !important;
}

.container_main_sidebar{
    background-color: $sidebar-background !important;
    .list_ToDoList{
        ul{
            li{
                color: white !important;

                .fa-trash{
                    color: rgb(255, 255, 255) !important;
                }
                .fa-trash:hover{
                    color: red !important;
                }
                
            }
            li:hover{
                background-color: transparent !important;

            }
        }
    }
}
