
.change-theme-sidebar{
    background-color: #242424 !important;
    .change-theme-top-sidebar{
        p{
            color: $text-color !important;
        }
        h1{
            color: $text-color !important;        
        }
    }
    ul{
        li{
            color: $text-color;
        }
        li:hover{
            background-color: #360017 !important;
        }
    }
    .bottom_sidebar{
        p{
            color: $text-color !important;
        }
        button{
            background-color: #121212 !important;
               color: #E0E0E0 !important;
        }
    }
    
}

.header-main-sidebar{
    background-color: #242424 !important;
    
    .profile{
        .notification_imgpro{
            span{
                color: white;
            }
        }
    }
}


.main_main_sidebar{
    background-color: #121212 !important;
}

.container_main_sidebar{
    background-color: #242424 !important;
    .list_ToDoList{
        ul{
            li{
                color: white !important;
                
                .fa-trash{
                    color: rgb(255, 255, 255) !important;
                }
                .fa-trash:hover{
                    color: red !important;
                }
                
            }
            .li_done{
                background-color: #03DAC5 !important;
                color: black !important;
            }
            li:hover{
                background-color: #03dac541 !important;


            }
        }
    }
}

