@import "mixin";
@import "change-theme";
@import "responsive";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}
.container{
    max-width: 1840px;
    max-height: 999px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
    text-transform: capitalize;


    aside{
        background-color: #ff4669;
        display: grid;
        grid-template-rows: 20% 50% 30%;
        font-family: "Satisfy", cursive;
        font-weight: 400;
        font-style: normal;
        max-height: 1000px;
        @include transition(0.3s);



        .top_sidebar{
            text-align: left;
            padding: 1rem;
            text-transform: capitalize;
            h1{
                padding-top: 1rem;
                padding-bottom: 0.5rem;
                text-transform: uppercase;
                color: #fffafb;
            }
            p{
                
                color: #fffafb;
            }


        }


        ul{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            list-style-type: none;
            
            
            li{
                padding: 1rem;
                padding-left: 1rem;
                display: flex;
                align-items: center;
                flex-direction: row-reverse;
                justify-content: start;    
                column-gap: 0.5rem;    
                user-select: none;
                @include transition(0.3s);
                cursor: pointer;
                color: white;
                
                
            }
            li:hover{
                background-color: #af0e2b;
                color: #ffffff;
                
                
            }
            
        }
        .bottom_sidebar{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 0.5rem;

            
            p{
                font-size: 12px;
                color: #fffafb;

            }
            button{
                padding: 0.5rem;
                text-transform: capitalize;
                @include border-radius(1rem);
                outline: none;
                border: none;
                background-color: #fffafb;
                color:#ff4669;
                font-family: "Satisfy", cursive;
                font-weight: 700;
                font-style: normal;
                cursor: pointer;



              
            }

        }




    }



    main{
        display: grid;
        grid-template-rows: 10% 90%;        
        max-height: 1000px;
        .header_main{
            background-color: #ffffff;
            display: grid;
            grid-template-columns: 20% 60% 10% 10%;
            cursor: pointer;


            .bar{
                display: none;
            }

            .date{
                display: flex;
                justify-content: center;
                align-items: center;
                
                input{
                    width: 80%;
                    height: 60%;
                    font-family: "Satisfy", cursive;
                    border: none;
                    padding: 0.5rem;
                    padding-left: 1rem;
                    @include border-radius(2rem);
                    color: #000;
                    font-weight: 700;
                    background-color: #f5f5f5;
                    user-select: none;
                }
                input::-webkit-calendar-picker-indicator {
                    cursor: pointer;
                }

            }
            
            .input_search{
                display: flex;
                justify-content: center;
                align-items: center;
                
                .input_search_width{
                    width: 100%;
                    height: 60%;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    input{
                        @include border-radius(2rem);
                        width: 100%;
                        height: 100%;
                        background-color: #f5f5f5;
                        padding: 0.5rem 0;
                        padding-left: 3rem;
                        padding-right: 1rem;
                        border: none;
                        font-size: 1.5rem;
                        font-family: "Satisfy", cursive;
                        outline: none;
                        cursor: pointer;
                    }                  

                    span{
                        position: absolute;
                        left: 10px;
                        top: 11px;
                        font-size: 32px;

                    }


                }


            }
            .change-theme{                
                display: flex;
                justify-content: center;
                align-items: center;

                .container-change-theme{                    
                    span{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    span::before{
                        content: "\263E";
                        position: absolute;
                        font-size: 3rem;
                        color: #030e33; /* یا رنگ تیره‌ای که مناسب باشد */
                        text-shadow: 0 0 5px rgba(0, 0, 0, 1), 
                                     0 0 10px rgba(0, 0, 139, 1), 
                                     0 0 15px rgba(0, 0, 139, 1); /* آبی تیره */
                       
                        

                       
                    }
                    span::after{
                        content: "\263C";
                        position: absolute;
                        font-size: 3rem;
                        display: none;
                        color: #FFD700; /* رنگ طلایی برای خورشید */
                        text-shadow: 0 0 10px rgba(255, 215, 0, 0.8), 
                                     0 0 20px rgba(255, 215, 0, 0.6), 
                                     0 0 30px rgba(255, 165, 0, 0.5), 
                                     0 0 40px rgba(255, 140, 0, 0.4);
                    }
                    span.dark::before{
                        display: none;
                    }
                    span.dark::after{
                        display: block;
                    }
                 

                }               

            }
            
            .profile{
                .notification_imgpro{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: end;
                    align-items: center;
                    column-gap: 20px;
                    span:hover{
                        color:  orange;
                    }
                    img{                        
                        width: 40px;
                        height: 40px;
                        @include border-radius(100%);
                    }
                }
            }

           


        }




        .main_main{
            background-color: #ececec;
            padding: 2rem;
            
            .container_main_main{
                width: 100%;
                height: 100%;
                background-color: #fff;
            }
            
            
            .ToDoList{
                margin: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 10%;
                
                
                
                input{
                    width: 60%;
                    height: 70%;
                    border: none;
                    background-color: #ececec;
                    @include border-radius_sides( 0 ,1rem ,0rem ,1rem);
                    padding-left: 1rem;
                    font-size: 1.5rem;
                    font-family: "Satisfy", cursive;
                    outline: none;
                    border: 2px solid black;
                    border-right: none;
                    text-transform: capitalize;
                }
                button{
                    border: 2px solid  black;
                    border-left: none;
                    width: 20%;
                    height: 70%;
                    background-color: #fff;
                    @include border-radius_sides(1rem , 0 , 1rem , 0);
                    text-transform: capitalize;
                    font-size: 1.5rem;
                    font-family: "Satisfy", cursive;
                    outline: none;
                    cursor: pointer;
                    @include transition(0.5s)
                }
                button:hover{
                    background-color:  #ff4669;
                    color: white;
                }
            }

            
            .list_ToDoList{
                margin: auto;
                width: 85%;
                max-height: 80%;
                overflow-y: auto;
                height: 100%;            
                margin-top: 1rem;                
                @include border-radius(1rem);
                


                ul{
                    list-style-type: none;

                    li{
                        position: relative;
                        border-bottom: 1px solid black;
                        padding-top: 1.5rem;
                        font-size: 1.5rem;
                        font-weight: 700;
                        color:black;
                        width: 100%;
                        height: 100%;
                        @include transition(0.3s);
                        padding-left: 0.2rem;
                        font-family: "Satisfy", cursive;
                    }
                   
                    .li_done{
                        text-decoration: line-through;
                        background-color: rgb(1 175 58 / 58%);
                    }
                    li:hover , .li_done:hover{
                        background-color: rgba(1, 175, 59, 0.358);
                    }
                    .done::before{
                        content: "";
                        width: 8px;
                        height: 23px;
                        border-width: 0px 5px 5px 0px;
                        border-style: solid;
                        border-color: #2f672f;
                        display: inline-block;
                        position: absolute;
                        bottom: 5px;
                        right: 45px;
                        @include transform(45deg);
                        cursor: pointer;
                        
                    }
                    .done.done_close::before{
                        display: none;
                    }
                    .done.done_close::after{
                        content: "\e5cd"; /* کد یونیکد آیکون close */
                        font-family: 'Material Icons'; /* تنظیم فونت به Material Icons */
                        font-size: 30px; /* اندازه دلخواه */
                        color: #ff0000; /* رنگ دلخواه برای ضربدر */
                        display: inline-block;
                        position: absolute;
                        bottom: 2px;
                        right: 45px;
                        cursor: pointer;

                    }
                    .fa-trash{
                        position: absolute;
                        right: 10px;
                        color: gray;
                        @include transition(0.3s);
                        cursor: pointer;
                    }
                    .fa-trash:hover{
                        color: red;
                    }

                    
                }
               
              

            }
        }
    }


}